a,
input {
  color: inherit;
}

a {
  text-decoration: none;
}

.button {
  display: inline-block;
  height: 50px;
  padding: 16px 20px;
  font-family: $font_alt;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  border-radius: 2px;
  box-sizing: border-box;
  text-decoration: none;
  text-align: center;

  &_red {
    background-color: $color_red;

    &:hover {
      background-color: $color_red_hover;
    }

    &:active {
      background-color: $color_red_active;
      color: $color_text_white_opacity;
      box-shadow: $shadow_button;
    }
  }

  &_green {
    background-color: $color_green;

    &:hover {
      background-color: $color_green_hover;
    }

    &:active {
      background-color: $color_green_active;
      color: $color_text_white_opacity;
      box-shadow: $shadow_button;
    }
  }

  &_yellow {
    background-color: $color_yellow;

    &:hover {
      background-color: $color_yellow_hover;
    }

    &:active {
      background-color: $color_yellow_active;
      color: $color_text_white_opacity;
      box-shadow: $shadow_button;
    }
  }

  &_gray {
    background-color: $color_gray;
    color: #000;

    &:hover {
      background-color: $color_gray_hover;
    }

    &:active {
      background-color: $color_gray_active;
      color: $color_text_black_opacity;
      box-shadow: $shadow_button;
    }
  }
}

.input-group {
  display: block;
  margin: 0;
  margin-bottom: 33px;
  flex-grow: 1;

  &:last-of-type {
    margin-bottom: 47px;
  }

  input {
    width: 100%;
    box-sizing: border-box;
  }

  &_half {
    width: 340px;

    &:nth-of-type(2n) {
      margin-left: 40px;
    }
  }

  &__textarea {
    width: 100%;

    textarea {
      width: 100%;
      height: 120px;
      box-sizing: border-box;
      resize: none;
    }
  }

  &__label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }


}

.site__input {
  padding: 13px 14px 16px;
  border: 2px solid #d7dcde;
  border-radius: 3px;

  &:hover {
    border-color: #b4b9bb;
  }

  &:active {
    border-color: #000;

    &::placeholder {
      color: #444444;
    }
  }

  &:focus {
    border-color: $color_red;
    color: $color_red;
    outline: none;
  }
}
