$font_main: Roboto, Arial, sans-serif;
$font_alt: "Roboto Medium", "Times New Roman", serif;

$shadow_button: inset 0 3px 0 0 rgba(0,0,0,.1);


$color_red: #fb565a;
$color_red_hover: #e74246;
$color_red_active: #d7373b;

$color_green: #00ca74;
$color_green_hover: #00bc6c;
$color_green_active: #00aa62;

$color_yellow: #efc84a;
$color_yellow_hover: #eab534;
$color_yellow_active: #e5a722;

$color_gray: #eeeeee;
$color_gray_hover: #dfdfdf;
$color_gray_active: #d5d5d5;

$color_text_black_opacity: rgba(0,0,0,.3);
$color_text_white_opacity: rgba(255,255,255,.3);
