.about-nerds {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;

  &__subtitle {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.brief {
  margin-top: 34px;
  margin-bottom: 73px;
  width: 700px;


  &__statement {
    font-family: $font_alt;
    font-size: 45px;
    line-height: 45px;
    font-weight: normal;
  }

  &__statement + .paragraph {
    margin: 0;
    margin-top: 32px;
  }

  .paragraph + .about-nerds__subtitle {
    margin-top: 39px;
  }

  .about-nerds__subtitle + &__list {
    margin-top: 24px;
  }

  &__list {
    margin: 0;
    list-style: none;
    padding: 0;
  }

  &__item {
    margin-bottom: 24px;

    &:before {
      position: relative;
      top: -5px;
      content: '';
      display: inline-block;
      height: 2px;
      width: 25px;
      margin-left: 1px;
      margin-right: 11px;
      background-color: $color_red;
    }
  }
}

.statistics {

  width: 360px;
  padding-top: 243px;
  background-image: url('../img/nerds-illustration.jpg');
  background-repeat: no-repeat;
  background-position: top center;

  &__table {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    tbody {
      font-weight: bold;
      font-size: 45px;
      // font-size: 107.364px;
      // line-height: 0.224;
    }
    td {
      width: 120px;
      padding: 10px 0;
      border: none;
      text-align: left;
    }
  }

  &__percent {

    sup {
      font-size: 28px;
    }
  }
}
