.logotypes {
  margin-bottom: 80px;

  &__list {
    height: 180px;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__item {
    width: 260px;
    text-align: center;
    opacity: .2;

    &:hover {
      opacity: 1;
    }

    &:active {
      opacity: .1;
    }
  }
}
