.promo-slider {
  position: relative;
  height: 431px;
  padding-top: 317px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  overflow-x: hidden;

// TODO: переделать индикатор. Сейчас вшешняя белая окружность это тень и нажатие на нее не переключает слайды

  &__indicator {
    position: relative;
    display: block;
    margin: 5px;
    width: 8px;
    height: 8px;
    border:  5px solid #fff;
    // box-shadow: 0 0 0 5px #fff;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1;

    &:before {
      content: '';
      display: block;
      width: 4px; height: 4px;
      margin: 2px 0 0 2px;
      border-radius: 50%;
      background-color: #fff;
    }

    &:not(:first-of-type) {
      margin-left: 23px;
    }
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
  }

  &__text {
    width: 400px;
  }

  &__slide-title + &__slide-description {
    margin-top: 26px;
  }

  &__slide-title {
    margin-top: 77px;
    font-family: $font_alt;
    font-size: 55px;
    line-height: 55px;
  }

  &__image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  &__button {
    width: 240px;
  }


  &__checkbox:checked + &__indicator {
    background-color: #c1c1c1;

    + .promo-slider__content {
      display: block;
      animation: slideChange .7s;
    }
  }
}

@keyframes slideChange {
  0% {
    opacity: 0;
    transform: translateX(15%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
