.sortable {
  display: flex;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  align-items: center;
  margin-bottom: 49px;

  &-type,
  &-direction {
    margin: 0;
  }

  &-type + &-direction {
    margin-left: 48px;
  }

  &-type {
    margin-left: auto;

    &__label {

      &:not(:first-of-type) {
        margin-left: 28px;
      }
    }
  }

  &-direction {

    &__indicator {

      &_reverse {
        transform-origin: center;
        transform: rotate(180deg);
      }
    }

    &__label {

      &:not(:first-of-type) {
        margin-left: 18px;
      }
    }
  }

  &__label {
    color: rgba(0,0,0, .3);
  }

  &__checkbox:checked + &__label {
    color: #000;
  }
}
